name: ZhengXiaowei's README

on:
  workflow_dispatch:
  schedule:
    # Runs at 12am UTC
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_EDITORS: true
          SHOW_OS: true
          SHOW_TITLE: true
      - uses: lowlighter/metrics@latest
        with:
          # ... other options
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          plugin_languages: yes
          plugin_languages_ignored: "" # List of comma separated languages to ignore
          plugin_languages_skipped: "" # List of comma separated repositories to skip:
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
